:root {
    /* --primary-color: #435892;
    --secondary-color: #F0E5DD;
    --tertiary-color: #D1CEBE; */

    --primary-color: #415a77;
    --secondary-color: #F0E5DD;
    --tertiary-color: #D1CEBE;

    /* --primary-color: #415a77;
    --secondary-color: #e0e1dd;
    --tertiary-color: #e0e1dd; */
}

.primary-color {
    color: var(--primary-color)
}

.active-item {
    color: var(--secondary-color);
}

html {
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
}

body { 
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

h1 { 
    font-weight: 400;
    font-size: 2.5em;
}

.hello {
    margin-bottom: 0;
}

.about-me {
    margin: 0;
    margin-bottom: .5em;
}

.name {
    margin: 0;
    margin-bottom: .5em;
    color: var(--primary-color)
}

.title {
    margin: 0;
    margin-bottom: .5em;
}

h2 { 
    font-weight: 300;
    font-size: 2em;
    
}

#root { 
    width: 100%;
    height: 100%;
}

.App {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.nav-bar-container {
    width: 15vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav-bar-navigation-container { 
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    width: 60%;
    text-align: center;
    display: flex;
    align-items: center;
}

.icon { 
    margin-right: 8%;
}

.link {
    text-decoration: inherit;
    color: inherit;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

.nav-item:hover {
    cursor: pointer;
    color: var(--secondary-color)
}

.nav-bar-contact-container {
    height: 30vh;
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.nav-bar-contact-icon {
    color: var(--primary-color);
}

.nav-bar-contact-icon:hover {
    cursor: pointer;
    color: var(--secondary-color);
}

.main-container { 
    flex: 1;
    max-height: 100%;
}

.home-container {
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-text-container {
    flex-grow: 1;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home-text-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-resume-button-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-resume-button-container:hover {
    cursor: pointer;
    color: var(--primary-color)
}

.home-photo {
    height: 100%;
}

.home-about-container {
    flex-grow: 1;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

.experience-container {
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
}

.experience-timeline-element {
    margin: 1em !important;
}

.experience-element-title:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.projects-container {
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}

.project-next-button {
    position: absolute;
    right: 5%;
    color: black;
    cursor: pointer;
}

.project-prev-button {
    position: absolute;
    left: 5%;
    color: black;
    cursor: pointer;
}

.project-next-button:hover, .project-prev-button:hover {
    color: var(--primary-color);
}

.project-container {
    padding-left: 12%;
    padding-right: 12%;
}

.project-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    align-items: flex-end;
}

.project-title-container {
    flex: 1;
    margin-left: 5%;
}

.project-logo {
    border-radius: 10px;
    width: 7vw;
    height: 7vw;
}

.project-title {
    color: var(--primary-color);
}

.project-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.project-image-vertical {
    height: 65vh;
    border-radius: 10px;
}

.project-image-horizontal {
    width: 35vw;
    border-radius: 10px;
}

.analytics-container {
    width: 100%;
    height: 95%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 5vh
}

.analytics-metric-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.analytics-metric-title {
    font-size: 2em;
}

.analytics-metric {
    font-size: 1.75em;
    color: var(--primary-color);
}