:root {
    --primary-color: #BA5B50;
    --secondary-color: #F0E5DD;
    --tertiary-color: #D1CEBE;
}

.primaryFontColor {
    color: var(--primary-color);
}

.secondaryFontColor {
    color: var(--secondary-color);
}

.tertiaryFontColor {
    color: var(--tertiary-color);
}

html {
    width: 100%;
    height: 100%; 
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

h1 {
    font-weight: 400;
    font-size: 40px;

}

a {
    text-decoration: none;
    color: inherit;
}

.icon {
    margin: 5%;
}

.colorSwitchIcon {
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 1%;
    z-index: 2;
}

.colorSwitchContainer {
    display: none;
    position: absolute;
    border-radius: 10%;
    left: 0;
    bottom: 0;
    margin: 3%;
    width: 10%;
    background-color: #F7F2E5;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
}

.colorSwitch {
    width: 80%;
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.colorSwitch:hover {
    cursor: pointer;
}

.colorSwabs {
    display: flex;
    margin-right: 15%;
}

.colorSwab {
    width: 10px;
    height: 10px;
}

.colorInput {
    width: 90%;
    border: none;
    border-bottom: 1px solid #212121;
    background-color: inherit;
}

.sideTopNavigator {
    display: flex;
    align-items: center;
    width: 40%;
}

.sideTopNavigator:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.sideBottomNavigator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.sideBottomNavigator:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.bodyContainer {
    width: 100%;
    height: 100%;
    background-color: #212121;
    margin: 0;
    display: flex;
}

.contentContainer {
    background-color: var(--secondary-color);
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.greeting {
    position: relative;
    display: flex;
    max-height: 100%;
    width: 100%;
    align-items: center;
}

.poptart {
    height: 100%;
    opacity: .95;
}

.greetingText {
    display: flex;
    flex-grow: 1;

    padding: 1%;
    margin: 5%;
    border-radius: 10px;

    flex-direction: column;
    align-items: flex-start;
}

.experience {
    position: relative;
    padding: 5%;
    padding-top: 2%;
    display: none;
    flex-direction: column;
    width: 90%;
    height: 100%;
}

.experienceSelectorsContainer {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.expereinceSelectors {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 20%;
    justify-content: space-around;
}

.experienceSelector {
    display: flex;
    align-items: center;
}

.experienceSelectorIcon1 {
    margin-right: 5%;
    background: #F97350;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.experienceSelectorIcon2 {
    margin-right: 5%;
    background: #FAD06C;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.experienceSelectorIcon3 {
    margin-right: 5%;
    background: #F7F2E5;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.experienceSelectorIcon4 {
    margin-right: 5%;
    background: #B7AC9A;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeLineContainer {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.timeLine {
    flex-grow: 1;
    background-color: grey;
    border-radius: 10px;
    height: 10px;
}

.portfolio {
    position: relative;
    max-height: 80%;
    margin: 5%;
    width: 90%;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.project {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.projectTitle {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 5%;
}

.projectLogo {
    border-radius: 10px;
    width: 100px;
}

.projectContent {
    max-height: 80%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.projectImageVertical {
    height: 70vh;
    border-radius: 10px;
}

.projectImageHorizontal {
    width: 50vw;
    border-radius: 10px;
}

#treacherousAdventure {
    display: flex;
}

#smartParkDisney {
    display: none;
}

#vrcane {
    display: none;
}

.sidebarContainer {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.topBarContainer {
    background-color: var(--primary-color);
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.lowerBarContainer {
    background-color: var(--tertiary-color);
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.nextButton {
    position: absolute;
    right: 0;
    color: black;
    cursor: pointer;
}

.nextButton:hover {
    color: var(--primary-color);
}