/*
Red: #BA5B50
light-tan: #F0E5DD
dark-tan: #E8CABD
*/

html {
    width: 100%;
    height: 100%; 
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

h1 {
    font-weight: 400;
    font-size: 40px;

}

a {
    text-decoration: none;
    color: inherit;
}

.icon {
    margin: 5%;
}

.redFont {
    color: #BA5B50;
}

.tanFont {
    color: #F0E5DD;
}

.sideTopNavigator {
    display: flex;
    align-items: center;
    width: 40%;
}

.sideTopNavigator:hover {
    color: #F0E5DD;
    cursor: pointer;
}

.sideBottomNavigator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    color: #BA5B50;
}

.sideBottomNavigator:hover {
    color: #F0E5DD;
    cursor: pointer;
}

.bodyContainer {
    width: 100%;
    height: 100%;
    background-color: #212121;
    margin: 0;
    display: flex;
}

.contentContainer {
    background-color: #F0E5DD;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.greeting {
    display: none;
    max-height: 100%;
    max-width: 100%;
    align-items: center;
}

.poptart {
    height: 100%;
    opacity: .95;
}

.greetingText {
    display: flex;
    flex-grow: 1;

    /* background-color: #BA5B50;
    color: black; */

    padding: 1%;
    margin: 5%;
    border-radius: 10px;

    flex-direction: column;
    align-items: flex-start;
}

.experience {
    padding: 5%;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
}

.experienceSelectorsContainer {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.expereinceSelectors {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 20%;
    justify-content: space-around;
}

.experienceSelector {
    display: flex;
    align-items: center;
}

.experienceSelectorIcon1 {
    margin-right: 5%;
    background: #F97350;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.experienceSelectorIcon2 {
    margin-right: 5%;
    background: #FAD06C;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.experienceSelectorIcon3 {
    margin-right: 5%;
    background: #F7F2E5;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.experienceSelectorIcon4 {
    margin-right: 5%;
    background: #B7AC9A;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeLineContainer {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.timeLine {
    flex-grow: 1;
    background-color: pink;
    height: 10px;
}

.portfolio {
    max-height: 80%;
    margin: 5%;
    width: 90%;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.project {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.projectTitle {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 5%;
}

.projectLogo {
    border-radius: 10px;
    width: 100px;
}

.projectContent {
    max-height: 80%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.projectImageVertical {
    height: 70vh;
    border-radius: 10px;
}

.projectImageHorizontal {
    width: 50vw;
    border-radius: 10px;
}

#treacherousAdventure {
    display: flex;
}

#smartParkDisney {
    display: none;
}

#vrcane {
    display: none;
}

.sidebarContainer {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.topBarContainer {
    background-color: #BA5B50;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.lowerBarContainer {
    background-color: #D1CEBE;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.nextButton {
    color: black;
    height:100%;
    cursor: pointer;
}

.nextButton:hover {
    color: #BA5B50;
}